node_modules
.env

# Hardhat files
/cache

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition 针对本地节点进行部署的默认文件夹
ignition/deployments/chain-31337

导航.md